<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Restaurante</display-name>
    <!--pagina de error-->
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/error.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>MostrarServletAdministrador</servlet-name>
        <servlet-class>controladoresServlet.MostrarServletAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarServletCamarero</servlet-name>
        <servlet-class>controladoresServlet.mostrarServletCamarero</servlet-class>
    </servlet>
  
    <servlet>
        <servlet-name>mostrarServletCocinero</servlet-name>
        <servlet-class>controladoresServlet.mostrarServletCocinero</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>mostrarServletCamarero</servlet-name>
        <url-pattern>/mostrarServletCamarero</url-pattern>
    </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>mostrarServletCocinero</servlet-name>
        <url-pattern>/mostrarServletCocinero</url-pattern>
    </servlet-mapping>

   
    <servlet-mapping>
        <servlet-name>MostrarServletAdministrador</servlet-name>
        <url-pattern>/mostrarServletAdministrador</url-pattern>
    </servlet-mapping>
 
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
